html, body {
  margin: 0;
  padding: 0;
  border: 0; }

.height100 {
  height: 100% !important; }

.nosso-login {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto; }

.nosso-login .checkbox {
  font-weight: 400; }

.nosso-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.nosso-login .form-control:focus {
  z-index: 2; }

.nosso-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.nosso-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

html,
body,
body > div.ember-view:first-of-type {
  height: 100%; }

body div:first-of-type.ember-view:first {
  border: solid 1px green; }

.nosso-barra-esquerda {
  padding: 0 !important; }

.nosso-barra-esquerda .chupa-meu-ovo {
  position: fixed;
  left: 800px;
  top: 200px; }

.nosso-barra-esquerda .list-group {
  height: 100%;
  background-color: #343a40 !important; }

.nosso-barra-esquerda .list-group-item {
  background-color: transparent !important;
  border-radius: 0;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #2c2c2c;
  white-space: nowrap; }

/* highlight active menu */
.nosso-barra-esquerda .list-group-item:not(.collapsed) {
  background-color: #222; }

/* closed state */
.nosso-barra-esquerda .list-group .list-group-item[aria-expanded="false"]::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f0da"; }

/* open state */
.nosso-barra-esquerda .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222; }

.nosso-barra-esquerda .list-group .list-group-item[aria-expanded="true"]::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f0d7"; }

/* level 1*/
.nosso-barra-esquerda .list-group .collapse .list-group-item {
  padding-left: 20px; }

/* level 2*/
.nosso-barra-esquerda .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px; }

/* level 3*/
.nosso-barra-esquerda .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px; }

@media (max-width: 48em) {
  /* overlay sub levels on small screens */
  .nosso-barra-esquerda .list-group .collapse.in, .nosso-barra-esquerda .list-group .collapsing {
    position: absolute;
    z-index: 1;
    width: 190px; }
  .nosso-barra-esquerda .list-group > .list-group-item {
    text-align: center;
    padding: .75rem .5rem; }
  /* hide caret icons of top level when collapsed */
  .nosso-barra-esquerda .list-group > .list-group-item[aria-expanded="true"]::after,
  .nosso-barra-esquerda .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none; } }

/* change transition animation to width when entire sidebar is toggled */
.nosso-barra-esquerda.collapse {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s; }

.nosso-barra-esquerda.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width; }

/*# sourceMappingURL=nossa-app.css.map */